.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

select, input {
  background: none;
  border-bottom: white 2px solid;
  height: 25px;
}

:disabled {
  opacity: 40%;
}

input {
  width: 2em;
}

.none {
  display: none;
  margin: 0;
  padding: 0;
}

main form {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 19em;
  width: 90vw;
  max-width: 44em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main form > div > div {
  padding-bottom: 0.2em;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main form > div > div div {
  width: 100%;
}

main form > div > div div select {
  width: 13em;
}

main form > div > div div input {
  margin-right: 1em;
}

main form > div > div div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.2em;
}

main form > div > div div:last-child {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

main form > div > div div:last-child label {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

main form > div:nth-of-type(4) > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main form > div:nth-of-type(4) > div > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main form > div:nth-of-type(4) > div > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

main form > div:nth-of-type(4) > div > div > div label {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main form > div:nth-of-type(5) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main form > div:nth-of-type(5) > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main form > div:nth-of-type(5) > div:nth-child(2) div {
  padding-top: 0.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main form > div:nth-of-type(5) > div:nth-child(2) div div {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main form > div:nth-of-type(5) > div:nth-child(2) div div label {
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main form > div:nth-of-type(5) > div:nth-child(2) div div input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media (min-width: 30.8125em) {
  main > div h2 {
    width: 70%;
  }
  main form div div div:first-child, main form div div div:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main form div div div:last-child {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  main form > div:nth-of-type(4) > div > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main form > div:nth-of-type(4) > div > div > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  main form > div:nth-of-type(4) > div > div > div label {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media (min-width: 45.625em) {
  main form div > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main form div > div div select {
    width: 13em;
  }
  main form div > div div input {
    margin-right: 1em;
  }
  main form div > div div:first-child {
    width: 29em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main form div > div div:last-child {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  main form > div:nth-of-type(4) > div > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main form > div:nth-of-type(4) > div > div > div {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */